.including-ingredient{
    margin-left: 10px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.img{
    margin-left: 8px;
}
.back{
    background-image: url(http://thumbs.dreamstime.com/z/food-ingredients-spices-white-background-35448407.jpg)
}