<ion-header>
  <ion-navbar>
    <ion-title align="center" >{{category.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="back">
  <ion-list *ngFor="let reciept of reciepts" (click)="openDescriptionPage(reciept)">
    <h4 class="recipeName" align="center">
      {{reciept.recipeName}}
    </h4>
    <i class="including-ingredient">
      Including ingredients:
      <i>
        {{reciept.ingredients}}
      </i>
      <p class="including-ingredient">
        Total Time Cooking In Minute: {{reciept.totalTimeInSeconds/60}}
      </p>
      <p class="including-ingredient">
        Rating: {{reciept.rating}}
      </p>
    </i>
      <div class="img" align="center">
        <img width="215" height="92" src={{reciept.smallImageUrls}}/>
      </div>
  </ion-list>
</ion-content>